<script src="../scripts/users/sign_up.js"></script>

<form action="/users/sign_up/" method="POST">
  <div class="col-6 p-2">
    <div class="row p-2 form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email" class="form-control" name="email" required>
    </div>
    <div class="row p-2 form-group">
      <label for="name">Display Name</label>
      <input type="input" id="name" class="form-control" name="name" required>
    </div>
    <div class="row p-2 form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" name="password" required>
    </div>
    <div class="row p-2 form-group">
      <label for="password-confirm">Confirm Password</label>
      <input type="password" id="password-confirm" class="form-control" required>
    </div>
    <div class="row p-2">
      <input type="submit" class="btn btn-dark" value="Sign up">
    </div>
  </div>
</form>





