<form action="/users/sign_up/" method="POST">
  <div class="col-6 p-2">
    <div class="row p-2 form-group">
      <label for="username">Username</label>
      <input type="text"  id="username" class="form-control" name="username">
    </div>
    <div class = "row p-2">
        <input type="submit" class="btn btn-dark" value="Sign up">
    </div>
  </div>
</form>