<form action="/users/sign_in/" method="POST">
  <div class="col-6 p-2">
    <div class="row p-2 form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email" class="form-control" name="email" required>
    </div>
    <div class="row p-3 form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" name="password" required>
    </div>
    <div class="row p-2">
      <input type="submit" class="btn btn-dark" value="Sign In">
    </div>
  </div>
</form>