@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", serif;
    background: #DDD
}

/*
=====================================
    Header and Nav bar
=====================================
*/
.logo {
    width: 64px;
    height: 64px;
}

/*
=====================================
    Main Content
=====================================
*/
main {
    min-height: 90vh;
    width: 60%;
    margin: auto;
    margin-top: 0;
    background: #EEE;
}

.main-content {
    width: 60%;
    margin: auto;
}

.vetical-allign {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
}

/*
=====================================
    Footer
=====================================
*/
footer {
    border-top: black solid 1px;
    background: rgb(41, 41, 54);
    color: white;
    min-height: 15vh;
}

footer .content {
    width: 80%;
    margin: auto;
}