<form action="/posts/new/" method="POST">
  <div class="col-12 p-2">
    <div class="row p-2 form-group">
      <label for="blog_title">Title</label>
      <input type="text" id="blog_title" class="form-control" name="blog_title" required>
    </div>
    <div class="row p-2 form-group">
      <label for="blog_content">What's your blog?</label>
      <textarea type="textfield" id="blog_content" class="form-control" name="blog_content" required></textarea>
    </div>
    <div class="row p-2">
      <input type="submit" class="btn btn-dark" value="Post blog">
    </div>
  </div>
</form>