<h5 class='h5 post_title p-1'>
  <%= post.title %>
</h5>

<div class="d-flex p-1">
  <small class="text-muted pr-1">
    <%= post.user.name %> on
  </small>
  <small class="text-muted">
    <%= post.date %>
  </small>
</div>

<p class='post_title p-1'>
  <%= post.content %>
</p>


<hr>